.additional-faq {
	padding: 104px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.additional-faq__title {
	font-size: 62px;
	text-align: center;
	margin-bottom: 24px;
}
.additional-faq__subtitle {
	color: $grey-text;
	text-align: center;
	margin-bottom: 88px;
}
.additional-faq__list {
	display: flex;
	flex-direction: column;
	gap: 56px;
	max-width: 696px;
}
.additional-faq__item {
	padding-top: 24px;
	border-top: 2px solid $light-green;
}
.additional-faq__item-title {
	margin-bottom: 16px;
}
.additional-faq__descr {
	font-size: 16px;
	line-height: 150%;
	color: $grey-text;
}
