@font-face {
	font-family: 'Figtree';
	src: url('../fonts/Figtree-Regular.woff') format('woff2'); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Figtree Medium';
	src: url('../fonts/Figtree-Medium.woff2') format('woff2'); /* Modern Browsers */
	font-weight: 500;
	font-style: normal;
}
