@import '_font-face.scss';
@import '_reset.scss';
@import '_vars.scss';

body {
	font-family: 'Figtree Medium', sans-serif;
	font-size: 18px;
	color: $dark-text;
}
a {
	color: inherit;
	text-decoration: none;
}
.container {
	max-width: 1920px;
	padding: 0 15px;
	margin: 0 auto;
}
.main-btn {
	padding: 16px 24px;
	border: 1px solid #fff;
	border-radius: 200px;
	background-color: transparent;
	color: #fff;
	font-weight: 500;
	font-size: 18px;
	cursor: pointer;
	transition: opacity 0.4s ease;
}
.main-btn:hover {
	opacity: 0.7;
}
@import '_header.scss';
@import '_promo.scss';
@import '_partners.scss';
@import '_mission.scss';
@import '_info.scss';
@import '_about.scss';
@import '_experts.scss';
@import '_testimonials.scss';
@import '_target.scss';
@import '_faq.scss';
@import '_more.scss';
@import '_additional-faq.scss';
@import '_connection.scss';
@import '_footer.scss';
